<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.org.testapi.JasonResponsedataInArray"/>
      <class name="com.org.testapi.TestApiGetMethod"/>
      <class name="com.org.testapi.TestApiPostMethod"/>
      <class name="com.org.testapi.TestApiGetUsingQueryParams"/>
      <class name="com.org.testapi.TestApiPutMethods"/>
      <class name="com.org.testapi.TestApiWithXML"/>
      <class name="com.org.testapi.TestApiDelete"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
