<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="Firefox"/>
  <test thread-count="5" name="Test1" parallel="methods">
   
    <classes>
      <class name="TestNG_AnnotationsExcercise.TestNG_AnnotationsExcercise.AppTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test2">
    <classes>
       <class name="BackendAutosuite.LibAutomation"/>
    </classes>
  </test> <!-- Test -->
    
  
  
</suite> <!-- Suite -->
    