<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests">
 <test name="Chrome Test">
<parameter name="Port" value="5555"/>
    <classes>
      <class name="SeleniumGrid.CrossBrowserTesting.SeleniumGridTest"/>
    </classes>
  </test> 
   <test name="IE Test">
<parameter name="Port" value="5557"/>
    <classes>
      <class name="SeleniumGrid.CrossBrowserTesting.SeleniumGridTest"/>
    </classes>
  </test> 
 <test name="firefox Test">
<parameter name="Port" value="5556"/>
    <classes>
      <class name="SeleniumGrid.CrossBrowserTesting.SeleniumGridTest"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
